{% extends "ListeNaissance/base.html" %}
{% load static %}
{% block custom_css %}
  <link rel="stylesheet" href="{% static 'reservation/css/delete.css' %}" />
{% endblock custom_css %}
{% block head_data %}
  {% include "ListeNaissance/header.html" %}
{% endblock head_data %}
{% block main_data %}
  <article>
    <form action="{% url 'liste:liste' %}" method="post">
      {% csrf_token %}
      <p>Êtes vous sur de vouloir annuler la reservation de :"{{ object.cadeau.titre }}"?</p>
      {{ form }}
      <input type="submit" value="Confirmer"/>
    </form>
  </article>
{% endblock main_data %}
